<launch>

  <arg name="ns" default=''/>

  <group if= "$(eval arg('ns') != '')">
    <param name="tf_prefix" type="string" value="$(arg ns)"/>
  </group>

  <node pkg="robot_localization" type="ekf_localization_node" name="rosbot_ekf" clear_params="true">
    <rosparam command="load" file="$(find rosbot_ekf_multi)/params/ekf_params.yaml" />

   <!--  Placeholder for output topic remapping -->
    <remap from="odometry/filtered" to="odom"/>
    <!-- <remap from="accel/filtered" to=""/> -->
   
  </node> 
  
  <!--  Overwrite frame names to namespaced frame names -->
  <group if= "$(eval arg('ns') != '')">
    <param name="rosbot_ekf_multi/odom_frame" type="string" value="odom" />
    <param name="rosbot_ekf_multi/base_link_frame" type="string" value="base_link" />
    <param name="rosbot_ekf_multi/world_frame" type="string" value="odom" />
    <param name="rosbot_ekf_multi/imu0" type="string" value="imu" />
    <param name="rosbot_ekf_multi/odom0" type="string" value="odom/wheel" />
  </group>

</launch>
